.home-header{
    background-image: url("../../../public/images/blog.jpg");
    background-size:100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    position: relative;
}

.home-header-layout{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-header-title{
    font-size: 35px;
    color: var(--secondFontColor);
}

.home-container{
    width: 100%;
    display: flex;
    padding: 20px;
    align-items: flex-start;
}

.latest-title{
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}


.home-see-posts-link {
    padding: 0 30px;
    margin: 15px 0;
}

.home-see-posts-link .home-link {
    width: 100%;
    padding: 10px;
    font-size: 21px;
    background-color: var(--buttonsColor);
    color: var(--secondFontColor);
    font-weight: 500;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    display: block;
    text-align: center;
    text-decoration: none;
}
