
.Header{
    background-color: var(--headerColor);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    color: var(--secondFontColor);
    align-items: center;
    font-size:  30px; 
    box-sizing: border-box;
}

.HeaderLeft{
    display: flex;
    align-items: center;
}
.list{
    transition: 500ms;

}
.list:hover{
    
    cursor: pointer;

}

.navbar{
    display: block;
    position: absolute;
    top: 130px;
    background-color: var(--headerColor);
    width: 100%;
    left: 0;
    transition: all 0.4s ease-out;
    z-index: 2;
}

.nav-links{
    display: flex;
    justify-content: space-around;
}

.nav-link{
   cursor: pointer;
   color:var(--secondFontColor) ;
   text-decoration: none;
}

.nav-link:hover{
   text-decoration: underline;
}

.headerButton{
    /* width: 50px; */
    background-color:var(--secondFontColor) ;
    color: var(--headerColor);
    margin: 0px 10px;
    padding: 15px;
    text-decoration: none;
    cursor: pointer;
    /* border-radius: 20px; */
}

/* .HeaderRight{
    margin-right: 15px;
} */

.HeaderMid{
    color:var(--secondFontColor) ;
    cursor: pointer;
}

.userDetails{
    padding:15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
    text-decoration: none;
}

.userImage{
    width:45px;
    height:45px;
    border-radius:50%;
    
}

.userName{
    color: var(--secondFontColor);
    text-decoration: none;
}



/* media query  */


@media screen and (max-width: 768px) {

        .nav-links{
        display: flex;
        flex-direction: column;
}

.nav-link{
    margin:0px ;
    margin-bottom: 7px;
}

}